/*************************************************/
/*----------------- CSS RESET -------------------*/
/*-----------------------------------------------*/
/*************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --bg-color: #222831;
  --accent-color: #FFD369;
  --primary-color: #393E46;
  --secondary-color: #EEEEEE;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, html {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1600px;
  background-color: var(--bg-color);
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

/*************************************************/
/*------------------ STYLES ---------------------*/
/*-----------------------------------------------*/
/*************************************************/

/* Header */
.header{
  font-family: Sixtyfour, sans-serif;
  color: var(--secondary-color);
  padding-top: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*background-color: orange;*/

  &.actions{
    display: flex;
    flex-direction: column;
    /*background-color: #19f124;*/

  }
  &.power{
    border: none;
    background-color: transparent ;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
    transition: ease-in-out 0.4s;
    width: auto;
    margin: 0 auto;
    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  &.slider-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    text-align: left;
    min-width: 260px;

    & label{
      letter-spacing: 10px;
      align-self: start;
    }

    & .bpm-text {
      padding-left: 5%;
    }
    & .vol-text {
      padding-left: 46%;
    }

  }

}

#bpm, #volume {
  -webkit-appearance: none;
  height: 6px;
  background-color: var(--secondary-color);
  outline: none;
  /* drag pointer*/
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 15px;
    background: var(--secondary-color);
    cursor: pointer;
  }
}

#volume{
  width: 144px;
}
#bpm{
  width: 260px;
}

/* Main */
main{
  font-family: Sixtyfour, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

button{
  height: 80px;
  width: 160px;
}

.seq{
  /*height:400px;*/
  width: 600px;
  background-color: orange;
}

.seq__step{
  height: 80px;
  background-color: antiquewhite;
  text-align: center;
  border: 2px solid gray;
  border-radius: 10px;
}

.seq__step-active{
  background-color: orange
}
