/*************************************************/
/*----------------- CSS RESET -------------------*/
/*-----------------------------------------------*/
/*************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --bg-color: #222831;
  --accent-color: #FFD369;
  --primary-color: #393E46;
  --secondary-color: #EEEEEE;
  --gray: #D9D9D9;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1600px;
  font-family: Sixtyfour, sans-serif;
  background-color: var(--bg-color);
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

/*************************************************/
/*------------------ STYLES ---------------------*/
/*-----------------------------------------------*/
/*************************************************/

/* Header */
.header{
  color: var(--secondary-color);
  font-family: Sixtyfour, sans-serif;
  padding-top: 1.5%;
  display: flex;
  justify-content: space-between;
  /*background-color: orange;*/

  &.actions{
    flex-direction: column;
    /*background-color: #19f124;*/
  }

  &.power-container{
    width: 100%;
    justify-content: end;
    margin-left: 2.5%;
    /*background-color: burlywood;*/
  }

  &.power{
    border: none;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
    width: auto;
    height: auto;
    padding: 0 0 1.5rem 0;
    outline: none;
    background: none;
    & span{
      transition: ease-in-out 0.4s;
    }
    & span:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  &.slider-container{
    /* background-color: aquamarine; */
    flex-direction: column;
    align-items: end;
    row-gap: 1rem;
    font-weight: bold;
    min-width: 260px;

    & label{
      letter-spacing: 10px;
      align-self: start;
    }

    & .bpm-text {
      padding-left: 5%;
    }
    & .vol-text {
      padding-left: 45%;
    }

  }

}

header .label-cont{
  /*background-color: cornflowerblue;*/
  width: 100%;
  display: flex;
  justify-content: start;
}

#bpm, #volume,#reverb,#destroyer,#delay  {
  -webkit-appearance: none;
  height: 6px;
  background-color: var(--secondary-color);
  outline: none;
  width: inherit;
  /* drag pointer*/
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 15px;
    background: var(--secondary-color);
    cursor: pointer;
  }
}

#volume{
  width: 144px;
}
#bpm{
  width: 260px;
}

.bpm-output{
  /*background-color: blueviolet;*/
  align-self: end;
  color: var(--accent-color);
  visibility: hidden;
}

.visibility{
  visibility: visible;
}

/* Main */
main{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 4rem 0 0 0;
  color: var(--secondary-color);
  /*background: #FFD369;*/
  gap: 2px;
  & .section{
   background: linear-gradient(#222831 50%, #3B5A72 100%);
    width: 50%;
    height: 33rem;
    max-height: 600px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  & .screen{
    margin: 3rem auto 0;
    height: 355px;
    border: 1px solid var(--secondary-color);
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: bisque;*/
  }

}

.section-header{
  /*background-color: mediumpurple;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto  ;
  & h3{
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    letter-spacing: clamp(0.7rem, 1.5vw, 1.5rem);
  }
  .waveform__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  & .waveform{
    height: 20px;
    width: auto;
    border: none;
    background: none;
    cursor: pointer;
    transition: ease-in-out 0.5s;
  }
  & img{
    height: 20px;
    pointer-events: none;
  }
  & .waveform:hover{
    transform: scale(1.09);
  }
}

.seq{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 30px 5% 0 5%;
}

.seq__cell{
  width: 100%;
}

.seq__body{
  display: flex;
  flex-direction: column;
}

.seq__row-octaves{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.seq__oct-actions{
  width: 100%;
  display: flex;
  justify-content: center;
  /*background-color: blue;*/
}

.seq__oct-plus-buttons, .seq__oct-minus-buttons{
  width: 0;
  /*background-color: orange;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: var(--gray);
  font-size: 1.2rem;
}
.seq__oct-plus-buttons:hover, .seq__oct-minus-buttons:hover{
  cursor: pointer;
}

.seq__oct-buttons:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.seq__oct-value{
  padding: 0 3% 0 3%;
}

.seq__row-notes{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3%;

}

.seq__note{
  color: black;
  width: 100%;
  height: 25px;
  background-color: var(--gray);
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-family: Sixtyfour, sans-serif;
}

.seq__note:hover{
  cursor: pointer;
}

.seq__note:focus{
  border: none;
}

.seq__row-steps{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.seq__step{
  color: var(--gray);
  background-color: var(--gray);
  /*height: auto;*/
  width: 100%;
  height: 70px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.seq__step-active{
  color: var(--accent-color);
  background-color: var(--accent-color);
}

.limit-reached{
  color: #FFD369;
  transform: scale(1.09);
  animation: ease-in-out;
}

.effects{
  width: 100%;
  padding-top: 20px;
  /*padding-top: clamp(10px, 0.7vw, 25px);*/
  /*background-color: orange;*/
}

.effects-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: clamp(0px, 2vw, 0px) 5% 0 5%;
  /*background-color: white;*/
}

.effect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: blueviolet;*/
  width: 100%;

  & div{
    max-height: 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: orange;*/
  }
  & .input-cont{
    width: 90%;
    padding-top: 10%;
    /*background-color: #222831*/;
  }

  & img{
   /*background-color: #FFD369;*/
    height: 100%;
    width: auto;
  }

  & h4{
    /*margin-top: clamp(1rem, 1vw, 0.6rem);*/
    font-size: clamp(0.8rem, 1.2vw ,1.5rem);
    color: transparent;
    -webkit-text-stroke: 0.0005px var(--secondary-color);
  }
}


.prob{
  /*background-color: cornflowerblue;*/
}




/*--------------Media Queries-----------------*/
/*----------------------------------*/

/*---- Tablet/Mobile ----*/

@media (width<800px) {

  body{
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
  }

  .header{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;

    & img{
      height: 100px;
      padding-left: 13%;
    }

    & .actions{
      padding-top: 30px;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    & .power-container{
      width: 100%;
      margin: 0;
    }

    & .power{
      flex-direction: row;
    }

    & .slider-container{
      width: 90%;
      align-items: center;
      gap: 0;
      & .bpm-text {
        padding: 1rem 0 0 0;
      }
      & .vol-text {
        padding: 1rem 0 1rem 0;
      }
    }

    & #volume, #bpm{
      width: 100%;
    }

  }

  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    padding-top: 2rem;

    & .section{
      width: 90%;
      height: 26.5rem;
    }

    & .section:first-child{
      display: none;
    }

    & .section-header{
      width: 100%;
      flex-direction: column;
    }

    .seq{
      padding: 5% 0 0 0;
    }

    & .screen {
      /*height: 100px;*/
      display: none;
    }

  }

}